<div class="pull-left">
  <%= link_to("Back to index", account_posts_path, :class => "btn btn-primary" ) %>
</div>
<br>
<div>
  <h1> <%= @post.title %> </h1>
  <p><%= simple_format(@post.content) %></p>
</div>